body{background-color: blueviolet; text-align: center;}
p{color: white; font-family: cursive;font-size: 2em; margin: 10px;}
object{margin: 50px 0px 10px;}
input{width: 300px;height: 50px;margin: 10px;border: none; border-radius: 10px;font-family: cursive;text-align: center;
font-size: 2.2em;}
input:focus{border: solid 3px #0000ff; outline: none;}
#greet{background-color: palevioletred;color: azure;width: 200px;}
#greet:hover{background-color:gold ; color:blueviolet;cursor: pointer; }
