<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ding Dong Hello</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/2.css')}}"
    </head>
    <body>
        <img src="https://i.pinimg.com/originals/a2/b3/7a/a2b37a375f1a74e8e2235541b7b43f05.jpg" width="320" height="300">
    <br>
    <form action="greet" method="post"><br>
        {%for message in get_flashed_messages()%}
            <p>{{message}}</p>
        {%endfor%}
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="GREET" id="greet">
    </form>
</html>